# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse / VS Code
.classpath
.project
.settings/
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build output
build/
